<template name="indexPage">

<link href='fonts.googleapis.com/css?family=Oxygen:700' rel='stylesheet' type='text/css'>
<link href='fonts.googleapis.com/css?family=Noto+Serif' rel='stylesheet' type='text/css'>

 <!-- First Segment !-->

<div class="segments  segment__first">

<!-- 	<div id = "cloud">
  	<span class='shadow'></span>
  </div>
 -->

  <h1>Mais c'est super sympa ici dis donc</h1>
  
  <p>Bwahw hwha bwahabw, ahwb bwahwbha wa wbahwahw, wabw whahbw wha wa whawbhabwb wbhaw bwahb. Whab bwah wbahawb wbahwbh wbaahb wahahwb, ab waabh hbwabwhaahw wha, wahwbahwbah haab wa whabwa whabw wbahbwbwbha.
  </p>
  <div class="patate"><a href="/go"></a></div>

</div>

<!-- Second Segment !-->

<div class="segments  segment__second">

	<ul class="segment__second--steps">
		<li class="step__one">
		</li>
		<li class="step__two">
		</li>
		<li class="step__three">
		</li>

		<li class="step__one">
			<p>aahb wahahwb, ab waabh hbwabwhaahw wha, wahwbahwbah haab wa whabbwbha.</p>
		</li>
		<li class="step__two">
			<p>aahb wahahwb, ab waabh hbwabwhaahw wha, wahwbahwbah haab wa whabbwbha.</p>
		</li>
		<li class="step__three">
			<p>aahb wahahwb, ab waabh hbwabwhaahw wha, wahwbahwbah haab wa whabbwbha.</p>
		</li>
	</ul>

</div>

  <!-- Third Segment !-->

<div class="segments  segment__third">

 	<div class="segment__third--text">

	  <p>Bwahw hwha bwahabw, ahwb bwahwbha wa wbahwahw, wabw whahbw wha wa whawbhabwb wbhaw bwahb. Whab bwah wbahawb wbahwbh wbaahb wahah wha wbaahb wahahwb, ab waabh hbwabwhaahw wha, wahwbahwbah haab wa whabbwbha.
	  </p>

	  <p>Bwahw hwha bwahabw, ahwb bwahwbha wa wbahwahw, wabw whahbw wha wa whawbhabwb wbhaw bwahb. Whab bwah wbahawb wbahwbh. Bahwah wha wbaahb wahahwb, ab waabh hbwabwhaahw wha, wahwbahwbah haab wa whabwa whabw wbahbwbwbha. Bwahah wha wbhaw, wbha whabw wbah whabwha, wbah wbah wbahbwh wb ahbwha whab wbahbwahbwhabwha.
	  </p>

	  <p>Bwahw hwha bwahabw, ahwb bwahwbha wa wbahwahw, wabw whahbw wha wa whawbhabwb wbhaw bwahb. Whab bwah wbahawb wbahwbh wbaahb wa wa wbahwahw, wabw whahbw wha wa whawbhabwb wbhaw bwahb. Whab bwah wbahawb wbahwbh. Bahwah wha wbaahb wahahwb, ab waabh hbwabwhaahw wha, wahwbahwbah haab wa whabwa whabw wbahbwbwbha. Bwahah wha wbhaw, wbha whab.
	  </p>

	</div>

	<div class="patate"><a href="/go"></a></div>
</div>

</template>