/*====================================================================================*\
    ELEMENTS
\*====================================================================================*/
/**==================================================================================**\
 * TRUCS...............HTML / BODY / H's                                                                                              
 * CONTENT.............Les pages                                                        
 *   * INDEX................First Segment/ Second Segment/ Third Segment                                                         
 \**==================================================================================**/

.gopage__content h3 {
	padding-bottom: 3vh;
	padding-top: 10vh;
	font-family: 'Oxygen', sans-serif;
	font-size: 18px;
}

.adventure__content h3 {
	font-family: 'Oxygen', sans-serif;
	font-size: 18px;
}

/*==========================================================*\ 
	CONTENT - CONTENT - CONTENT - CONTENT - CONTENT - CONTENT  
-------------------------------------------------------------- 
	INDEX - INDEX - INDEX - INDEX - INDEX - INDEX - INDEX    
\*==========================================================*/ 

.segments {
	height: 100vh;
	width: 100vw;
	text-align: center;
}

.segment__first h1 {
	padding-top: 60vh;
	color: #FFF;
	font-family: 'Oxygen', sans-serif;
}

/*===============================*\ 
	INDEX - FIRST SEGMENT                
\*===============================*/  

.segment__first {
 	background: -prefixe-linear-gradient(top, #662D91 0%, #00A99D 25%,#ffffff);
	background: linear-gradient(to bottom, #662D91 0%, #00A99D 25%,#ffffff);
}

svg {
	display:block;
	margin:0 auto;
	width:15vw;
}

/*===============================*\ 
	FIRST SEGMENT - CLOUDS                
\*===============================*/ 

/*#cloud {
	width: 120px; height: 60px;
	background: #f2f9fe;
	
	border-radius: 40px;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	
	position: relative;
	margin: 120px auto 20px;
}

#cloud:after, #cloud:before {
	content: '';
	position: absolute;
	background: #f2f9fe;
	z-index: 1
}

#cloud:after {
	width: 40px; height: 40px;
	top: -20px; left: 50px;
	
	border-radius: 40px;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
}

#cloud:before {
	width: 80px; height: 80px;
	top: -20px; right: 40px;
	
	border-radius: 70px;
	-webkit-border-radius: 60px;
	-moz-border-radius: 60px;
}*/

/*===============================*\ 
	INDEX - SECOND SEGMENT                
\*===============================*/ 

.segment__second {
 	background-color: #FFF;
 	
}

.segment__second li {
	float: left; 
 	display: block;
 	list-style-type:none;
}

.segment__second--steps {
	margin: auto;
	padding-top:20vh;
	width: 60vw;
	text-align: center;
}

.step__one {
	float: left;
	position:relative;
	width: 33%;
	height: 25vh;
	background-color: #662D91;
}

.step__one .tail {
    left: 100%;
    position:absolute;
    z-index:1;
    border-color:transparent transparent transparent #662D91;
    border-style:solid;
    border-width: 12.5vh 3vw;
}

.step__two {
	position:relative;
	display: inline-block;
	height: 25vh;
	width: 33%;
	background-color: #00A99D;
}

.step__two .tail {
	left: 100%;
    position:absolute;
    border-color:transparent transparent transparent #00A99D;
    border-style:solid;
    border-width: 12.5vh 3vw;
}

.step__three {
	float: right;
	height: 25vh;
	width: 33%;
	background-color: #FFF;
}

.step__text {
	float: left;
	padding-top: 3vh;
	width: 33%;
	height: 25vh;
	font-family: 'Lato', sans-serif;
	background-color: #FFF;
}

/*===============================*\ 
	INDEX - THIRD SEGMENT                
\*===============================*/ 

.segment__third {
 	background: -prefixe-linear-gradient(top, #00A99D 50%,#662D91);
	background: linear-gradient(to bottom, #00A99D 50%,#662D91);
}

.segment__third--text {
	padding-top: 15vh;
}

.segment__third--text p{
	padding-top: 5vh;
	color:#FFF;
}

.segment__first p, .segment__third p {
	margin: auto;
 	width: 80vw;
 	font-family: 'Noto Serif', serif;
 	font-size: 15px;
 	line-height: 2;
}

/*==========================================================*\ 
	CONTENT - CONTENT - CONTENT - CONTENT - CONTENT - CONTENT  
-------------------------------------------------------------- 
	  GOPAGE - GOPAGE - GOPAGE - GOPAGE - GOPAGE - GOPAGE
\*==========================================================*/ 

/*===============================*\ 
	GOPAGE - BANNER              
\*===============================*/ 

.gopage__banner {
	height: 35vh;
	width: 100vw;
}

.gopage__banner h1 {
	padding-top: 10vh;
	color: #662D91;
	font-family: 'Oxygen', sans-serif;
	text-align: center;
}

/*===============================*\ 
	GOPAGE - SECOND SEGMENT               
\*===============================*/ 

.gopage__content {
	height: 65vh;
	width: 100vw;
	color: #FFF;
	font-family: 'Lato', sans-serif;
	text-align: center;
	background-color: #00A99D;
}

.gopage__content--form {
	display: inline-block;
	margin: 0 auto;
	height: 25vh;
	width: 30vw;
	text-align: center;
	border-radius: 50px;
	background-color: #FFF;
}

.gopage__content form {
	margin: 0 auto;
	padding-top:3vh;
	width: 20vw;
}

.gopage__content p {
	display: inline-block;
	float: right;
	padding-left: 5vw;
	position: absolute;
	height: 25vh;
	width: 30vw;
	font-family: 'Noto Serif', serif;
	font-size: 13x;
	line-height: 1.5;
}

/*===============================*\ 
	ADVENTURE - BANNER              
\*===============================*/ 

.adventure__banner {
	height: 35vh;
	width: 100vw;
}

.adventure__banner h1 {
	padding-top: 10vh;
	color: #00A99D;
	font-family: 'Oxygen', sans-serif;
	text-align: center;
}

/*===============================*\ 
	ADVENTURE - SECOND SEGMENT               
\*===============================*/ 

.adventure__content {
	position:absolute;
	height: 65vh;
	width: 100vw;
	color: #FFF;
	font-family: 'Lato', sans-serif;
	background-color: #662D91;
}

.adventure__content--field, .adventure__content--list {
	display: inline-block;
	height: 30vh;
	width: 30vw;
	color:#FFF;
	font-family: 'Lato', sans-serif;
}

.adventure__content--field {
	float: left;
	margin: 10vh 0 0 15vw;
}

.adventure__content--list {
	/*display: inline-block;*/
	float:right;
	margin: 10vh 15vw 0 0;
	position: relative;
	font-size: 15px;
}

.adventure__content--field h3 {
	color: #FFF;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
}