/*====================================================================================*\
    ELEMENTS
\*====================================================================================*/
/**==================================================================================**\
 * TRUCS...............HTML / BODY / H's                                                                                              
 * CONTENT.............Les pages                                                        
 *   * INDEX................First Segment/ Second Segment/ Third Segment                                                         
 \**==================================================================================**/


h1 {
	padding-top: 60vh;
	font-family: 'Oxygen', sans-serif;
	color: #FFF;
}

/*==========================================================*\ 
	CONTENT - CONTENT - CONTENT - CONTENT - CONTENT - CONTENT  
-------------------------------------------------------------- 
	INDEX - INDEX - INDEX - INDEX - INDEX - INDEX - INDEX    
\*==========================================================*/ 

.segments {
	height: 100vh;
	width: 100vw;
	text-align: center;
}

/*===============================*\ 
	INDEX - FIRST SEGMENT                
\*===============================*/  

.segment__first {
 	background: -prefixe-linear-gradient(top, #662D91 0%, #00A99D 25%,#ffffff);
	background: linear-gradient(to bottom, #662D91 0%, #00A99D 25%,#ffffff);
}

svg {
	display:block;
	width:15vw;
	margin:0 auto;
}

/*===============================*\ 
	FIRST SEGMENT - CLOUDS                
\*===============================*/ 

/*#cloud {
	width: 120px; height: 60px;
	background: #f2f9fe;
	
	border-radius: 40px;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	
	position: relative;
	margin: 120px auto 20px;
}

#cloud:after, #cloud:before {
	content: '';
	position: absolute;
	background: #f2f9fe;
	z-index: 1
}

#cloud:after {
	width: 40px; height: 40px;
	top: -20px; left: 50px;
	
	border-radius: 40px;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
}

#cloud:before {
	width: 80px; height: 80px;
	top: -20px; right: 40px;
	
	border-radius: 70px;
	-webkit-border-radius: 60px;
	-moz-border-radius: 60px;
}*/

/*===============================*\ 
	INDEX - SECOND SEGMENT                
\*===============================*/ 

.segment__second {
 	background-color: #FFF;
 	
}

.segment__second li {
 	list-style-type:none;
 	float: left; 
 	display: block;
}

.segment__second--steps {
	padding-top:20vh;
	width: 60vw;
	margin: auto;
	text-align: center;
}

.step__one {
	background-color: #662D91;
	float: left;
	width: 33%;
	height: 25vh;
	position:relative;
}

.step__one .tail {
    position:absolute;
    left: 100%;
    border-color:transparent transparent transparent #662D91;
    border-width: 12.5vh 3vw;
    border-style:solid;
    z-index:1;
}

.step__two {
	background-color: #00A99D;
	display: inline-block;
	width: 33%;
	height: 25vh;
	position:relative;
}

.step__two .tail {
    position:absolute;
    left: 100%;
    border-color:transparent transparent transparent #00A99D;
    border-width: 12.5vh 3vw;
    border-style:solid;
}

.step__three {
	background-color: #FFF;
	float: right;
	width: 33%;
	height: 25vh;
}

.step__text {
	background-color: #FFF;
	float: left;
	width: 33%;
	height: 25vh;
	padding-top: 3vh;
}

/*===============================*\ 
	INDEX - THIRD SEGMENT                
\*===============================*/ 

.segment__third {
 	background: -prefixe-linear-gradient(top, #00A99D 50%,#662D91);
	background: linear-gradient(to bottom, #00A99D 50%,#662D91);
}

.segment__third--text {
	padding-top: 15vh;
}

.segment__third--text p{
	padding-top: 5vh;
	color:#FFF;
}

.segment__first p, .segment__third p {
	font-family: 'Noto Serif', serif;
 	width: 80vw;
 	margin: auto;
 	line-height: 2;
}

